body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

#showcase{
    background-image: url(../picture.jpg);
    height: 800px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
#showcase h1{
    font-size: 30px;
}

#showcase p{
    font-size: 15px;
    text-align: center;
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border:none ;
    background-color: green;
    border-radius: 5px;
    padding: 8px;
    height: 20px;
    width: 50pxs;
    text-align: center;
}
#showcase .devcom{
    position: absolute;top: 8%;left:4%;
    text-decoration: none;
    border: none;
    background-color:green;
    border-radius: 15px;
    color: white;
    width: 100px;
    text-align: center;
}